



.menu-container {
    text-align: center; /* Aligns the text inside the box */
    width: 100%;        
    max-width: 500px;   /* Stop expading when are reached more than 500px */
    padding: 20px;      /* Pushes the text away from the edges */
    z-index: 10;        /* Assures that the container can be seen, as it will be the first container in the z axis */
}

.title {
    font-size: 3rem;    /* rem adapts the text to the user's browser font size */   
    margin-bottom: 50px;
                        /* Creates an invisible 50px block directly below the title. This ensures that the following item won't be right next to the bottom of the letters */
}


.cursor::after {
    content: '█'; /* Can be changed with | */
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
}



.actions {
    display: flex;
    flex-direction: column;
    gap: 20px;      /* Gap creates an empty space between all the flex items (the childs). */
}


.join-section {
    display: flex;
    gap: 10px;
}


.input-box {
    flex: 1;        /* Let all the flexible items be the same length, regardless of its content (https://www.w3schools.com/cssref/css3_pr_flex.php) */
    background-color: transparent;
    border: 3px solid #ACBAC4;
    color: #ACBAC4;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
}


.input-box::placeholder {
    color: #AAAAAA;
}









.history-section {
    margin-top: 40px;
    text-align: left; 
    border-top: 1px solid #ACBAC4;
    padding-top: 20px;
}



.history-header {
    display: flex;
    justify-content: space-between; /* text on the left - button on the right */
    align-items: center;            /* center -> vertically */
    margin-bottom: 15px;
}

.clear-btn {
    padding: 5px 12px;
    font-size: 0.8rem;
    background-color: transparent;
    border: 1px solid rgba(255, 104, 104, 0.5);
    transition: all 0.1s;
}

.clear-btn:hover{
    background-color: rgba(255, 104, 104, 0.2);
    color: #ff6868;
    border-color: #ff6868;
}





.history-link {
    display: block;
    background-color: #2d3556;
    color: #F0F0DB;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 8px;
    border: 1px solid #ACBAC4;
    transition: background-color 0.2s, transform 0.1s;
}



.localSaves {
    font-size: 1rem;
    margin-bottom: 15px;
    opacity: 0.8;
}


.history-section a {
    color: #F0F0DB;
    text-decoration: none;
    display: block; /* The whole row becomes clickable, not just the text */
    margin-bottom: 10px;
}

.history-section a:hover{
    text-decoration: underline;
}










